{% form_theme form 'bootstrap_3_layout.html.twig' %}

<h1>Maak een nieuw artikel, vandaag is het {{ 'now' | date('d/M/Y') }}</h1>

{% for type, messages in app.session.flashbag.all() %}
  {% for message in messages %}
    <div style="background-color: #444; color: white; padding: 8px" class="alert alert-{{ type }} fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      {{ message }}
    </div>
  {% endfor %}
{% endfor %}


{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}